<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Account</title>-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>-->
<!--</head>-->
<!--<body>-->
<!--    <h3>Edit Account</h3>-->

<!--    <form th:action="${'/account/update'}" method="post">-->
<!--        &lt;!&ndash; form update đi với action truy cập vào hàm update() trong controller &ndash;&gt;-->
<!--        <p style="display: none">ID:</p>-->
<!--        <input type="text" name="id" th:value="${account.id}" style="display: none" />-->
<!--        <p>Full name:</p>-->
<!--        <input type="text" name="fullName" th:value="${account.fullName}" />-->
<!--        <p>Email:</p>-->
<!--        <input type="text" name="email" th:value="${account.email}" />-->
<!--        <p>Username:</p>-->
<!--        <input type="text" name="username" th:value="${account.username}" />-->
<!--        <p>Password:</p>-->
<!--        <input type="text" name="password" th:value="${account.password}" />-->
<!--        <p style="display: none">Created Date</p>-->
<!--        <input type="text" name="createdDate" th:value="${account.createdDate}" style="display: none" />-->
<!--        <input type="submit" value="Lưu" />-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Category</title>-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>-->
<!--    <link rel="stylesheet" th:href="@{/css/style-index.css}">-->
<!--</head>-->
<!--<body>-->
<!--<h3>Edit Category</h3>-->

<!--<form th:action="${'/category/update'}" method="post">-->
<!--    <p style="display: none">ID:</p>-->
<!--    <input type="text" name="id" th:value="${category.id}" style="display: none" />-->
<!--    <p>Category name:</p>-->
<!--    <input type="text" name="categoryName" th:value="${category.categoryName}" />-->
<!--    <input type="submit" value="Lưu" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Product</title>-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>-->
<!--    <link rel="stylesheet" th:href="@{/css/style-index.css}">-->
<!--</head>-->
<!--<body>-->
<!--<h3>Edit Product</h3>-->

<!--<form th:action="${'/product/update'}" method="post">-->
<!--    <p style="display: none">ID:</p>-->
<!--    <input type="text" name="id" th:value="${product.id}" style="display: none" />-->
<!--    <p>Product name:</p>-->
<!--    <input type="text" name="productName" th:value="${product.productName} /">-->
<!--    <p>Price:</p>-->
<!--    <input type="text" name="price" th:value="${product.price}" />-->
<!--    <p>Category:</p>-->
<!--    <input type="text" name="category" th:value="${product.category}" />-->
<!--    <input type="submit" value="Lưu" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->